<div class="container-fluid">
  <div class="row mt-5">
      <div class="col"></div>
      <div class="col-md-4 col-12">
          <div class="card">
              <div class="card-body">
                  <form>
                      <div class="mb-3">
                          <h4 class="text-dark text-muted">Register</h4>
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input title="" type="email" class="form-control" name="email" [(ngModel)]="email">
                      </div>
                      <div class="mb-3 position-relative">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input placeholder="" [type]="passwordVisible ? 'text' : 'password'" class="form-control" name="password" [(ngModel)]="password">
                        <i class="fas fa-eye position-absolute eye-icon end-0 pe-3" (click)="togglePasswordVisibility()" style="cursor:pointer;"></i>
                      </div>
                      <button type="button" class="btn reg-btn" (click)="register()">Register</button>
                      <div class="row">
                          <div class="col-md-6">
                              <a routerLink="/login" >Have an account ? <span class="text-danger">Login</span></a>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="col"></div>
  </div>
</div>
