<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid">
    <a class="nav-link navbar-brand login-button" routerLink="home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >
      <img class="img-fluid" style="max-width:50px" src="../../assets/img/KickStopLogo3.png" alt="">
    </a>
    <a *ngIf="!authService.loggedIn()" class="navbar-brand login-button" routerLink="login"><i class="bi bi-person"></i>Login</a>
    <a *ngIf="authService.loggedIn()" class="navbar-brand login-button" (click)="authService.logout()"  routerLink="home"><i class="bi bi-person"></i>Logout</a>
    <a *ngIf="authService.loggedIn()" >({{authService.email}})</a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="menu" routerLinkActive="active-link">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cart" routerLinkActive="active-link"><i class="bi bi-cart-fill me-2" style="color: blue"></i><b>My Cart</b></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
